/* === set up ============================================= */

body {
    background-color: #000;
    font-size: 14px;
    color: #fff;
}
.container {
    width: 80vw;
    height:80vh;
    margin: 5em;
    overflow: hidden
    }
img {
    padding-right: 0.1em;
    padding-top: 0.25em;
}
.tama {
    margin-top: 2em;
    margin-bottom: 3em;
}


/* === typography ============================================= */

a, h1, .label, .action, #state {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace
}
h1 {
    margin-bottom: 1.5em;
}
a {
    text-decoration: none;
    color: #fff
}



/* === actions ================================================ */

button {
     background:none!important;
     outline: none;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
}
.action {
    font-size: 0.75em;
    margin-bottom: 1em
}
.label {
    font-size: 0.8em;
    letter-spacing: 0.1em;
}
#hunger, #happy {
    height:4em;
}
#feed {
    margin-top: 4em;  
}
#play {
    margin-top: 1em;
    margin-bottom: 3em;
}


/* === classic mode ==================================== */

.heart-px {
    padding-right: 3px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}


/* ==== experimental =================================== */



/* media queries */

@media only screen and (max-width: 760px) {
    body {
        /*font-size: 2em;*/
    }
    .container {
        width: 100vw;
        height:100vh;
        margin: 5em;
        overflow: hidden
    }
    img {
    padding-right: 0.1em;
    }
}