body {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
    margin: 5em
}

a {
    text-decoration: none;
    color: #fff
}

h1 {
    margin-bottom: 1.5em;
}

#hunger {
    height:5em;
}

#reset {
    margin-top: 4em;
    font-size: 0.75em
}

/* media queries */

@media only screen and (max-width: 760px) {
    body {
        font-size: 2em;
    }
}